.wrapper{
    border: 2px solid #7D0057;
}
.textarea{
    display: block;
    width: 300px;
    resize: none;
    padding: 5px;
}
.errorWrapper{
    color: red;
    padding: 0 0 10px 0;

}
.formCommonError{
    border: 2px solid red;
    color:red;
    padding: 5px;
    display: inline-block;
}