* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-color: #FFF500;
}
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-areas: 'header header' 'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 200px 1fr;
  -webkit-box-shadow: 4px 3px 15px 6px rgba(135, 125, 19, 0.71);
  box-shadow: 4px 3px 15px 6px rgba(135, 125, 19, 0.71);
  max-width: 1200px;
  margin: 0 auto;
}
.content {
  grid-area: content;
}
