.nav {
  background-color: #FFF500;
  grid-area: nav;
  border-right: 2px solid #7D0057;
}
.ul {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
.li {
  min-height: 30px;
  line-height: 30px;
  color: #7D0057;
  font-size: 20px;
  font-weight: 500;
}
